Repository betadots/hdm, pull requests merged in 2025-03, with the labels that each got.

#540 Adjust diff form to new structure
  app/models/data_file.rb
  app/views/keys/_value.html.erb
  test/integration/diff_environments_test.rb
Labels: enhancement

#523 fix: ensure git version is shown in footer
  .github/workflows/build_docker.yml
  .github/workflows/ci.yaml
  .github/workflows/security_scanning.yml
  Dockerfile
  config/initializers/version.rb
Labels: bug

#551 fix: switch to single actions instead of compose
  .github/workflows/build_docker.yml
Labels: github_actions

#554 fix: revert back on arm to older versions due to musl incompatibility
  .github/workflows/ci.yaml
  Gemfile
Labels: bug

#555 Release v3.2.0
  CHANGELOG.md
Labels: skip-changelog

#559 enable hdm encryption
  vagrant/centos_script.sh
  vagrant/hdm/centos_data.yaml
  vagrant/hdm/common_data.yaml
  vagrant/hdm/hiera.yaml
  vagrant/hdm/keys/private_key.pkcs7.pem
  vagrant/hdm/keys/public_key.pkcs7.pem
Labels: development

#560 feat: build archs in matrix on dedicated runners; cleanup other workflows
  .github/workflows/build_docker.yml
  .github/workflows/ci.yaml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/security_scanning.yml
Labels: github_actions
